.sidebar{
    -fx-background-color: rgb(58,69,88);
}
.sidebar-user-btn{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: #b8b1b1;
}
.menu{
    -fx-background-color: lightgoldenrodyellow;
}
.sidebar-btn{
    -fx-background-color: transparent;
    -fx-background-radius: 0px;
    -fx-text-fill: #b8b1b1;
}
.effect:hover{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0);
}
.sidebar-btn:hover{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0);
    -fx-background-color: #4A7ABA;
    -fx-background-radius: 0px;
    -fx-text-fill: #b8b1b1;
    -fx-border-color: rgb(22,169,250);
    -fx-border-width: 0px 0px 0px 3px;
}
.label{
    -fx-text-fill: #b8b1b1;
}

.label:hover{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0);
}
.sidebar-btn:pressed {
    -fx-background-color: rgb(22,169,250);
    -fx-background-radius: 0px;
    -fx-text-fill: #0099ff;
}
.sidebar-btn:pressed .sidebar-btn-icon{

}
.sidebar-btn-icon{
    -fx-fill: #b8b1b1;
}
.button{
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
.button:hover{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0);
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: transparent;

}

.text-field {
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
.text-field :focused{
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-background-color: transparent;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 0.0, 0.0);
}


.menu-bar-btns{
    -fx-background-color: #fff;
    -fx-border-color: #cccccc;
    -fx-border-width: 0px 0px 0px 1px;
}
.menu-bar-btns:hover{
    -fx-background-color: #318BAF;
}
.menu-bar-btns-icon{
    -fx-fill: #999;
}
.menu-bar-btns:hover .menu-bar-btns-icon{
    -fx-fill: #fff;
}
.menu-bar-search-field{
    -fx-prompt-text-fill: #b8b1b1;
    -fx-text-fill: #000;
}
.menu-bar-search-field-box{
    -fx-prompt-text-fill: #b8b1b1;
    -fx-text-fill: #000;
    -fx-border-color: #cccccc;
    -fx-border-width: 0px 0px 0px 1px;
}

.content-area-circle-btns{
    -fx-background-color: #fff;
    -fx-background-radius: 100px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 100%;
}
.content-area-circle-btns:hover{
    -fx-background-color: #0099ff;
    -fx-background-radius: 100px;
    -fx-text-fill: #fff;
}
.content-area-circle-btns-icon{
    -fx-fill: #b8b1b1;
}
.content-area-circle-btns:hover .content-area-circle-btns-icon{
    -fx-fill: #fff;
}
.lbl2{
    -fx-text-fill: #757373;
}
.lbl3{
    -fx-text-fill: #00a1ff;
}
.jfx-list-cell:selected{
    -fx-background-color:#3E869F ;
}
.jfx-list-cell:hover{
    -fx-background-color:#3E869F ;
}
.fx-list-cell.jfx-rippler{
    -fx-background-color: #3E869F;
}
.fx-list-cell.label{

}
.fx-list-view{
    -fx-vertical-grap: 10;
    -fx-background-insets: 0;
    -fx-cell-vertical-margin:10;
    -fx-background-color: white;
}
.fx-list-view:hover{
    -fx-background-color: #3E869F;
}

.list-view .list-cell:even {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: white;

}
.list-view .list-cell:odd {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: white;
}

/**progress bar*/
.progress-bar > .track {
    -fx-text-box-border: forestgreen;
    -fx-control-inner-background: palegreen;
}
/*.progress-bar > .bar {*/
    /*-fx-background-color: linear-gradient(*/
            /*from 0px .75em to .75em 0px,*/
            /*repeat,*/
            /*-fx-accent 0%,*/
            /*-fx-accent 49%,*/
            /*derive(-fx-accent, 30%) 50%,*/
            /*derive(-fx-accent, 30%) 99%*/
    /*);*/
/*}*/